body {
  margin: 0;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.icon {
  width: 55px;
  height: 55px;
}

.iconText {
  font-weight: bold;
}

.mainImage {
  cursor: zoom-in;
}

map {
  cursor: zoom-in;
}

.modalContainer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: all 0.4s;
  visibility: hidden;
}

.modal {
  background-color: black;
  color: white;
  border: solid 1px white;
  width: 100px;
  position: absolute;
}

.modalOption:hover {
  color: orange;
  cursor: pointer;
}
