@font-face {
  font-family: "Optima-LT-ExtraBlack";
  src: url("./fonts/Optima-LT-ExtraBlack.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Officina-Sans-OS-ITC-TT";
  src: url("./fonts/Officina-Sans-OS-ITC-TT.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Officina-Sans-OS-ITC-TT";
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-around;
  height: 150px;
  align-items: center;
}

.mainTitle {
  font-family: "Optima-LT-ExtraBlack";
  font-size: 50px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.waldoBorder {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.red {
  color: #ed2624;
}
.blue {
  color: #00acee;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.icon {
  width: 55px;
  height: 55px;
}

.iconText {
  font-weight: bold;
  text-align: center;
}

.mainImage {
  cursor: zoom-in;
  border: solid 2px black;
}

map {
  cursor: zoom-in;
}

.modalContainer,
.modalEndgameContainer,
.leaderboardModalContainer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: all 0.4s;
  visibility: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00acee;
  color: white;
  border: solid 2px white;
  border-radius: 10%;
  width: 100px;
  position: absolute;
  font-size: 20px;
}

.modalOption {
  font-size: 18px;
}

.modalOption:hover {
  color: #ed2624;
  cursor: pointer;
}

.modalEndgame,
.leaderboardModal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
  border: solid 2px black;
}

.modalEndgame {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 800px;
  row-gap: 20px;
  padding: 30px;
  align-items: center;
}

.modalEndgameText {
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
}

.modalEndgameTextWin {
  font-family: "Optima-LT-ExtraBlack";
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.modalEndgameInput {
  font-size: 35px;
  font-family: "Officina-Sans-OS-ITC-TT";
}

.modalEndgameButton {
  font-size: 35px;
  width: 200px;
  background-color: #00acee;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Officina-Sans-OS-ITC-TT";
}

.modalEndgameButton:hover {
  background-color: #34bbf1;
  cursor: pointer;
}

.leaderboardModal {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  width: 600px;
  height: 800px;
}

.leaderboardTitle {
  font-family: "Optima-LT-ExtraBlack";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 45px;
  height: 10%;
}

.leaderboardSubtitle {
  font-family: "Optima-LT-ExtraBlack";
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 35px;
  height: 10%;
}

.leaderboardList {
  height: 80%;
  overflow: scroll;
  font-family: "Officina-Sans-OS-ITC-TT";
}

.LeaderboardItem {
  display: flex;
  flex-direction: row;
  font-size: 26px;
  height: 55px;
}

.name,
.time {
  width: 50%;
  overflow: hidden;
  text-align: center;
}
