body {
  margin: 0;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.icon {
  width: 55px;
  height: 55px;
}

.iconText {
  font-weight: bold;
}

.mainImage {
  cursor: zoom-in;
}

map {
  cursor: zoom-in;
}

.modalContainer,
.modalEndgameContainer,
.leaderboardModalContainer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: all 0.4s;
  visibility: hidden;
}

.modal {
  background-color: black;
  color: white;
  border: solid 1px white;
  width: 100px;
  position: absolute;
}

.modalOption:hover {
  color: orange;
  cursor: pointer;
}

.modalEndgame {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  position: absolute;
  background-color: white;
  top: 25%;
  left: 25%;
}

.modalEndgameText {
  text-align: center;
}

.leaderboardModal {
  display: flex;
  flex-direction: column;
  border: solid 5px black;
  background-color: white;
  position: absolute;
  width: 600px;
  height: 800px;
}

.leaderboardTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  height: 10%;
}

.leaderboardSubtitle {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
  font-size: 35px;
  height: 10%;
}

.leaderboardList {
  height: 80%;
  overflow: scroll;
}

.LeaderboardItem {
  display: flex;
  flex-direction: row;
  font-size: 26px;
  height: 55px;
}

.name,
.time {
  width: 50%;
  overflow: hidden;
  text-align: center;
}
